@charset "utf8";

/*Estructura General*/
body{
    background-color:rgb(196, 195, 195);
    text-align: justify;
    font-family:sans-serif;
}
header{
    background-color: black;
    color: white;
    text-align:right;
}
main{
    margin-right: 20%;
    margin-left: 20%;
}
footer{
    margin-left: 20%;
    margin-right:25%;
}

h1{
    padding: 2%;
}
hr{
    height: 3px;
    background-color: black;
}

/*CSS del interior de las secciones*/
h2{
    border-bottom: white 3px solid;
}
span.lugar{
    color: blue;
}
span.cargo{
    background-color: white;
    color: red;
}
p.fecha{
    background-color: grey;
    color: white;
    margin-left: 35%;
    margin-right: 35%;
    font-size: xx-large;
    text-align: center;
}
strong{
    font-variant: small-caps;
}
q {
    border-bottom: red 1px dashed;
    font-family: serif;
    font-size: 150%;
}